<div class="panel panel-default">
  <div class="panel-heading">
   Quản lý thức ăn chăn nuôi.
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
    <span class="pull-right btn-group" style="margin-right: 10px">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.newList">
        View list    <i class="fa ion-ios-list">    </i>
      </a>
    </span>
  </div>
  <div class='list-group'>
    <table ng-show="ctrl.foods.length" class="table table-bordered text-center" style="background-color: #ffffff">
      <thead>
      <tr>
        <th>STT</th>
        <th>Mã đàn lợn </th>
        <th>Loại thức ăn </th>
        <!--<th>Payment</th>-->
        <th>Số lượng </th>
        <th>Đơn vị </th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-item" ng-repeat="item in ctrl.foods | orderBy:'id':true ">
        <td>
          <span class="distance-to-icon">{{item.id}}</span>
        </td>
        <td class="firstCell">
          <div class="text-center">
            <span class="distance-to-icon">{{item.idFarm}}</span>
          </div>
        </td>
        <td>
          <div class="text-center" style="margin: 5px 0">
            <span class="distance-to-icon">{{item.typeFood}}</span>
          </div>
        </td>
        <td>
          <div class="text-center">
          <span class="distance-to-icon">{{item.numberFood}}</span>
        </div>
        </td>
        <td >
          <div>
          {{item.units}}<br>
        </div>
        </td>
        <td>
       <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: item.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: item.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
        </td>
      </tr>
      </tbody>

    </table>
    <div ng-show="!ctrl.foods.length" class="list-group-item">
      <h4 class="list-group-item-heading" translate>
        Chưa có dữ liệu thức ăn chăn nuôi nào
      </h4>

      <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">vào đây</a> để thêm dữ li</p>
    </div>
  </div>


</div>
