<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    new list
   <span class="pull-right btn-group" style="padding-right: 7px">
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.dan.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
    <span class="pull-right btn-group" style="padding-right: 7px">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.dan.id})">
        <i class="fa fa-pencil"></i>
      </a>
    </span>
     <span class="pull-right btn-group" style="padding-right: 7px">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">

          <div ui-grid="gridOptions"></div>

        </div>
      </div>
    </div>

  </section>

</div>
